@font-face { font-family: Aller; src: url(assets/allerbold.ttf); }
@font-face { font-family: Comfortaa; src: url(https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap); }
.flex{display: flex;}
.cenX{justify-content: center;}
.cenY{align-items: center;}
:root{
	/* background: #72d7d7; */
	background: black url("assets/TESTBG.png") no-repeat center;
	--viewW: 100vw;
	--viewH: 100vh;
}
*{
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
}
.header{
	height: 5%;
	width: 100%;
	background: #191919;
}
.fullCont{
	width: var(--viewW);
	height: var(--viewH);
}
.gameWindow{
	overflow: hidden;
	width: 100%;
	height: 95%;
}
@media screen { /** StartMenu (S) */
.S{
	display: flex;
	justify-content: center;
	align-items: center;
	background: url('assets/TESTBG.png') no-repeat center;
	background-size: cover;
	width: 100%;
	height: 100%;
}
.SflexCont{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 13%;
	background: #323232;
}
.SbuttonCont{
	position: relative;
	display: flex;
	height: 100%;
	width: calc(var(--viewH) * 0.929);
	z-index: 0;
}
.Sbutton{
	height: 100%;
	width: calc(var(--viewH) * 0.2);
	transform: skewX(-11.5deg);
	background: var(--c);
	border: none;
	animation: SbuttonBounce-back 0.27s backwards;
	cursor: pointer;
}
.Sbutton:hover{
	width: calc(var(--viewH) * 0.3);
	animation: SbuttonBounce 0.27s;
}
@keyframes SbuttonBounce {
	0%   { width: calc(var(--viewH) * 0.2); }
	25%  { width: calc(var(--viewH) * 0.33); }
	50%  { width: calc(var(--viewH) * 0.27); }
	75%  { width: calc(var(--viewH) * 0.31); }
	100% { width: calc(var(--viewH) * 0.3); }
}
@keyframes SbuttonBounce-back {
	0%   { width: calc(var(--viewH) * 0.3); }
	25%  { width: calc(var(--viewH) * 0.17); }
	50%  { width: calc(var(--viewH) * 0.23); }
	75%  { width: calc(var(--viewH) * 0.19); }
	100% { width: calc(var(--viewH) * 0.2); }
}
.SlogoCont{
	overflow: hidden;
	height: calc(var(--viewH) * 0.26);
	width: calc(var(--viewH) * 0.26);
	background: #e967a1;
	border: solid calc(var(--viewH) * 0.013) #ffffff;
	border-radius: 727vh;
	z-index: 1;
	transition: width 0.15s cubic-bezier(.33,.99,.36,1.39), height 0.15s cubic-bezier(.33,.99,.36,1.39);
	text-align: center;
	cursor: pointer;
}
.SlogoCont:hover{
	width: calc(var(--viewH) * 0.32);
	height: calc(var(--viewH) * 0.32);
}
.SlogoCont:hover > .SlogoTxt{
	font-size: calc(var(--viewH) * 0.13);
}
.SlogoBg{
	width: 100%;
	height: 100%;
}
.SlogoTxt{
	display: block; /* needs to be display: block; for some reason*/
	margin-top: calc(100% * -0.77);
	font: calc(var(--viewH) * 0.105) Aller;
	color: #ffffff;
	transition: font-size 0.15s cubic-bezier(.33,.99,.36,1.39);
}
}
